@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  background-color: #efefef;
}

#root {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid gray;
  box-shadow: 0px 0px 15px gray;
}

.Header,
.Footer {
  width: 100%;
  background-color: rgb(0, 0, 64);
  color: whitesmoke;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header h1 {
  font-size: 1.5rem;
}

.Header svg {
  font-size: 2rem;
}

.Footer {
  padding: 0.75rem;
  display: grid;
  place-content: center;
}

.Nav {
  width: 100%;
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.searchForm {
  display: flex;
  justify-content: flex-end;
  width: 80%;
}

.searchForm input[type="text"] {
  font-family: 'Open Sans', sans-serif;
  width: 70%;
  min-height: 35px;
  font-size: 16px;
  padding: 7px;
  margin-right: 20px;
  border-radius: 0.25rem;
  outline: none;
}

.searchForm label {
  display: none;
}

.Nav ul {
  color: #fff;
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.Nav li {
  padding: 1rem;
}

.Nav li:hover,
.Nav li:focus {
  padding: 1rem;
}

.Nav li a {
  color: #fff;
  text-decoration: none;
}

.Nav li:hover,
.Nav li:focus,
.Nav li:hover a,
.Nav li:focus a {
  background-color: #eee;
  color: #333;
}

.Nav li:hover a,
.Nav li:focus a {
  cursor: pointer;
}

.Home,
.NewOrder,
.OrderPage,
.About,
.Missing {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex-grow: 1;
  padding: 2rem;
  overflow-y: auto;
  background-color: #e1e1e1;
}

.OrderPage .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
}

.OrderPage .card::after {
  position: absolute;
  content: 'Shipment Details';
}

.OrderPage button{
margin: 1rem;
  width: 70%;
  height: 48px;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

.NewOrderForm .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
}

.NewOrderForm .card::after {
  position: absolute;
    content: 'New Shipment';
}

.NewOrderForm label {
  margin-top: 0.75rem;
  font-size: medium;
}

.NewOrderForm input[type='text'],
.NewOrderForm input[type='date'] {
  font-family: 'Open Sans', sans-serif;
  width: 70%;
  min-height: 30px;
  font-size: 14px;
  padding: 0.25rem;
  border-radius: 0.25rem;
  margin-right: 0.25rem;
  outline: none;
}

.NewOrderForm button {
  margin: 1rem;
  width: 70%;
  height: 48px;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

.Missing h2,
.OrderPage h2,
.Missing p,
.OrderPage p {
  margin-bottom: 1rem;
}

.statusMsg {
  margin-top: 2rem;
}

@media only screen and (min-width: 610px) {
  html {
    font-size: 18px;
  }

  .Header h1 {
    font-size: 2rem;
  }

  .Nav {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .Nav ul {
    text-align: right;
  }

  .Nav li:hover,
  .Nav li:focus,
  .Nav li:hover a,
  .Nav li:focus a {
    background-color: #eee;
    color: #333;
  }

  .searchForm {
    width: 50%;
    padding: .5rem 0;
  }

  .searchForm input[type="text"] {
    margin-left: 0.5rem;
  }

  .NewOrderForm textarea {
    height: 300px;
  }
}

@media only screen and (min-width: 992px) {

  .Header svg {
    font-size: 3rem;
  }

}

.Table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.Table tbody td,
.Table thead th {
  border: 1px solid #ddd;
  padding: 8px;
}

.Table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.Table tr:hover {
  background-color: #ddd;
}

.Table thead th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #000000;
  color: white;
}
.btnGroup{
  display: flex;
}

.btn {
  color: white;
  padding: 7px 10px;
  border-radius: 5px;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  font-size: medium;
  border: none;
}

.btnPrimary{
  background-color: rgb(0, 73, 145);
}

.btnWarning {
  background-color: rgb(193, 125, 0);
  margin: 0 4px 0 4px;
}
.btnDanger {
  background-color: rgb(147, 0, 0);
}

.btnGroup .btn:not(:last-child) {
  margin-right: none;
}

.btnGroup:after {
  content: "";
  clear: both;
  display: table;
}

.btnGroup .btn:hover {
  background-color: #333;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f3f3;
}

.card {
  width: 40rem;
  border-radius: 1rem;
  background: white;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
  position: relative;
  color: #434343;
}

.card .cardBody {
  padding: 2rem;
}

.card::after {
  position: absolute;
  top: 11px;
  right: -14px;
  padding: 0.5rem;
  width: 10rem;
  border-radius: 3px;
  background: rgb(0, 0, 64);
  color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  box-shadow: 4px 4px 15px rgb(0, 0, 64);
}

.About .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
}

.About .card::after {
  position: absolute;
  content: 'About';
}